{% extends 'data/base.html' %}
{% load static %}

{% block content %}
        <style>

                .display-container {
                        position: relative;
                        margin: auto;
                }

                .homeimg {
                        padding-top: 2.4%;
                        display: none;
                        animation-name: fade;
                        animation-duration: 1.5s;
                        }

                @keyframes fade {
                                from {opacity: .3}
                                to {opacity: 1}
                                }

                .btn {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        background-color: rgba(0,0,0,0.8);
                        font-size: 30px;
                        font-weight: initial;
                        color: white;
                        padding: 10px;
                        }

                .btn.post {
                        right: 0;
                }

                .w3-display-bottommiddle.w3-container.w3-padding-16.w3-white {
                        font-family: 'Nanum Myeongjo', serif;
                }


                .img-chart {
                        padding: 100px 40px 100px 40px;
                        text-align: center;
                }

                .img-chart-items {
                        width: 450px;
                        height: 450px;
                        display: inline-block;
                        padding-bottom: 25px;
                }
                .img-caption {
                        width: 450px;
                        display: inline-block;
                        text-align: left;
                }

                .img-subcaption {
                        width: 450px;
                        display: inline-block;
                        text-align: left;
                }

                .img-subcaption h4 {
                        font-family: 'Nanum Myeongjo', serif;
                }

        </style>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="{% static 'topojson/topojson.min.js' %}"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


        <div class="display-container">

                <div class="homeimg fade">
                        <img src="{% static 'img/pork.png' %}" width="100%" height=85%>
                        <div class="w3-display-bottommiddle w3-container w3-padding-16 w3-white">먹방가르드 한식 1위</div>
                </div>

                <div class="homeimg fade">
                        <img src="{% static 'img/dumpling.png' %}" width="100%" height=85%>
                        <div class="w3-display-bottommiddle w3-container w3-padding-16 w3-white">먹방가르드 분식 1위</div>
                </div>

                <div class="homeimg fade">
                        <img src="{% static 'img/hello.png' %}" width="100%" height=85%>
                        <div class="w3-display-bottommiddle w3-container w3-padding-16 w3-white">먹방가르드 이탈리아 음식 1위</div>
                </div>

                <div class="homeimg fade">
                        <img src="{% static 'img/cafe.png' %}" width="100%" height=85%>
                        <div class="w3-display-bottommiddle w3-container w3-padding-16 w3-white">먹방가르드 카페 1위</div>
                </div>

                <a class="btn prev" onclick="clickBtn(-1)">&#10094;</a>
                <a class="btn post" onclick="clickBtn(1)">&#10095;</a>

        </div>

        <script>
        var slideIndex = 1;
        showSlides(slideIndex)

        function clickBtn(n) {
                slideIndex += n;
                showSlides(slideIndex);
                }


        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("homeimg")
          if (n>slides.length) {slideIndex=1}
          if (n<1) {slideIndex=slides.length}
          for (i=0; i<slides.length; i++) {
                slides[i].style.display = "none";
          }
          slides[slideIndex-1].style.display = "block";
        }
        </script>
        <script>
        var slideIndex = 0;
        iterSlides();
        function iterSlides() {
                var slides = document.getElementsByClassName("homeimg")
                for (var i=0; i<slides.length; i++) {
                        slides[i].style.display = "none";
                }
                slideIndex ++;
                if (slideIndex>slides.length) {slideIndex=1}
                slides[slideIndex-1].style.display = "block";
                setTimeout(iterSlides, 4000);
        }
        </script>
        <body>
        </html>

{% endblock %}
