
<!DOCTYPE html>
<meta charset="utf-8">
<title>Transform Transitions</title>
<style>

body {
  margin: 0;
}

rect {
  stroke: #fff;
  stroke-width: .1px;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var w = 1500,
    h = 766,
    z = 20,
    x = w / z,
    y = h / z;

var svg = d3.select("body").append("svg")
    .attr("width", w)
    .attr("height", h);

svg.selectAll("rect")
    .data(d3.range(x * y))
  .enter().append("rect")
    .attr("transform", translate)
    .attr("width", z)
    .attr("height", z)
    .style("fill", "black")
    .on("mouseover", mouseover);

var imgBox = d3.select("body").append("div")

imgBox.selectAll("image")
.data(d3.range(x * y))
.enter().append("img")
.attr("transform", translate)
.attr("width", z)
.attr("height", z)
.attr("src", "http://ldb.phinf.naver.net/20180518_213/15266155090043BJKb_JPEG/yDTNCS3DtFGlKz_Bc9ZxbxLQ.JPG.jpg")
.style("visibility", "visible")
.on("mouseover", mouseover);

function translate(d) {
  return "translate(" + (d % x) * z + "," + Math.floor(d / x) * z + ")";
}

function mouseover(d) {
  this.parentNode.appendChild(this);

  d3.select(this)
      .style("pointer-events", "none")
    .transition()
      .duration(750)
      .attr("transform", "translate(600,600)scale(23)rotate(180)")
    .transition()
      .delay(1500)
      .attr("transform", "translate(300,300)scale(0)")
      .style("fill-opacity", 0)
      .remove();
}

</script>
