{% extends 'data/base.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'chartEx/makeTable.js' %}"></script>
</head>
<body>
    <!-- <div id='highlighted'>Nothing Highlighted</div> -->

    <div id='container'></div>
    <div id='selected'>
      <div class="image" id="Image">
        <div class="imageBox" id="Style">
            <img src="" padding="10%" />
            <div class="infoBox">
                <p><a href=""></a></p>
                <p><a href=""></a></p>
            </div>
        </div>
    </div>
    </div>

  <script>

d3.json("{% static 'data/instadata/total/chartdata.json' %}", function(error, data) {
  var table_plot = makeTable()
    .datum(data)
    .sortBy('카테고리', true)
    .filterCols(['포스트 수', '좋아요 수', '태그', 'img_url', 'lat', 'lon', '시/군/구', '읍/면/동']);
  d3.select('#container').call(table_plot);
  // table_plot.on('highlight', function(data, on_off){
  //   if(on_off){//if the data is highlighted
  //     d3.select('#highlighted').text(
  //     );
  //   }
  // });
  table_plot.on('select', function(data, on_off){
    if(on_off){
      return ShowPicture("Style", 1, data);
    }
  });

  function ShowPicture(id, show, d) {
          var imgurl = d.img_url,
            title = d.상호명
            address = d.주소
            // link = 'https://www.instagram.com/explore/locations/'+d.loc_id
            searchKey = title + " " + address
            adresslink = "https://m.map.naver.com/search2/search.nhn?query="+ searchKey +"&style=v4#/map/"
            link = adresslink

          if (imgurl.includes("#") || imgurl.includes("http://blogfiles.naver") || imgurl.includes("https://scontent")) {
              show = "0"
          }

          if (show=="1") {
              document.getElementById(id).childNodes[1].style.visibility = "visible";
              document.getElementById(id).childNodes[1].src = imgurl;
          } else if (show=="0") {
              document.getElementById(id).childNodes[1].style.visibility = "hidden";
          }

        document.getElementById(id).childNodes[3].style.visibility = "visible";
        document.getElementById(id).childNodes[3].childNodes[1].childNodes[0].href = link;
        document.getElementById(id).childNodes[3].childNodes[1].childNodes[0].innerHTML = "#" + title;
        document.getElementById(id).childNodes[3].childNodes[3].childNodes[0].href = adresslink;
        document.getElementById(id).childNodes[3].childNodes[3].childNodes[0].innerHTML = address;
    }

    dragElement(document.getElementById("Image"));

function dragElement(elmnt) {
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    document.getElementById("Style").onmousedown = dragMouseDown;

    function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
    }

    function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        document.getElementById("Style").style.cursor = "grabbing";
    }

    function closeDragElement() {
      // stop moving when mouse button is released:
      document.onmouseup = null;
      document.onmousemove = null;
      document.getElementById("Style").style.cursor = "grab";
    }
}
})
  // var table_plot = makeTable()
  //   .datum(gene_data)
  //   .sortBy('pval', true)
  //   .filterCols(['col', 'x', 'y']);
  // d3.select('#container').call(table_plot);
  // table_plot.on('highlight', function(data, on_off){
  //   if(on_off){//if the data is highlighted
  //     d3.select('#highlighted').text(
  //       'Oops, I just stepped over gene ' + data.symb
  //     );
  //   }
  // });
  // table_plot.on('select', function(data, on_off){
  //   if(on_off){//if the data is highlighted
  //     d3.select('#selected').text(
  //       'And it was the chosen one ' + data.GeneID
  //     );
  //   }
  // });
  </script>
</body>
{% endblock %}